Rag Agent with customer support.json
{
  "name": "Rag Agent with customer support",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "7bcca788-2ed7-4012-8e0f-183ca6d13340",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -384,
        160
      ],
      "id": "3079fe99-7a55-4a16-b634-a5440bdb4068",
      "name": "Webhook",
      "webhookId": "7bcca788-2ed7-4012-8e0f-183ca6d13340"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "You are a helpful assistant, get question answer from pinecone database and output it as an pure plain text format, do not use line break or anything else, words will be 15-20.\noutput format:\n do not use line break, use plain text"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        80
      ],
      "id": "f58053e8-040b-45dd-8b86-c271eb61593b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        32,
        384
      ],
      "id": "e2f857f4-b083-4544-a050-3f0ee2742a31",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6KwGNETxowVbvmtB",
          "name": "Google Gemini(PaLM) Api account 653"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "response done",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        -144
      ],
      "id": "782b01eb-c19d-4c1e-b168-22eb67421d35",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json.email }}",
        "subject": "About AI Interview Questions",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        192
      ],
      "id": "8658d47a-ad62-4eb3-bc74-5646ca1bbf89",
      "name": "Send a message",
      "webhookId": "29e14a28-ff75-4a82-b903-02698dc74bae",
      "credentials": {
        "gmailOAuth2": {
          "id": "Y5off6OXd9aQqHs7",
          "name": "Gmail account 530"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1x83VB0JN8rlsIrYjGdoSoOZmLSS--VuTUdEtY17NUG0",
          "mode": "list",
          "cachedResultName": "Customer Care",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x83VB0JN8rlsIrYjGdoSoOZmLSS--VuTUdEtY17NUG0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x83VB0JN8rlsIrYjGdoSoOZmLSS--VuTUdEtY17NUG0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $('Edit Fields').item.json.name }}",
            "Email": "={{ $('Edit Fields').item.json.email }}",
            "Query": "={{ $('Edit Fields').item.json.query }}",
            "Description": "={{ $('AI Agent').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        224
      ],
      "id": "36e0ecb6-a058-4273-85e2-8a877c65c504",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5bE0srp6NudnofJi",
          "name": "Google Sheets account 377"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        976
      ],
      "id": "cf995102-0620-4cf0-bfa8-bc88d7d8aa85",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "6KwGNETxowVbvmtB",
          "name": "Google Gemini(PaLM) Api account 653"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1jzd7MqTLn2XW0W5ukuQKFl2bkfKFTKjt",
          "mode": "list",
          "cachedResultName": "Question",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1jzd7MqTLn2XW0W5ukuQKFl2bkfKFTKjt"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        624
      ],
      "id": "8d1ca663-2a66-4afe-8ba4-4e89d2eb553a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7Xe8RrnOeyEpoSps",
          "name": "Google Drive account 870"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -64,
        624
      ],
      "id": "4d33fa20-c14a-439a-b6c1-046cb82e7130",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "7Xe8RrnOeyEpoSps",
          "name": "Google Drive account 870"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "new-database",
          "mode": "list",
          "cachedResultName": "new-database"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        656
      ],
      "id": "c9825226-56f1-4c57-9176-dbf827d3b605",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "EcGMjK5DonDWaqZg",
          "name": "PineconeApi account 169"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        480,
        864
      ],
      "id": "8b5bddd2-b8ca-4cc8-9409-05a40a37a63d",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.name }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        480
      ],
      "id": "96339eee-ce72-4b5f-adf4-fa3f2b4a9952",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve data when the user ask for relevant data about advanced ai engineer interview questions and once the data is retrieve from answer",
        "pineconeIndex": {
          "__rl": true,
          "value": "new-database",
          "mode": "list",
          "cachedResultName": "new-database"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        352,
        400
      ],
      "id": "2b5f5dc4-a9a5-4047-8d31-c98f04d4282d",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "EcGMjK5DonDWaqZg",
          "name": "PineconeApi account 169"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        528
      ],
      "id": "23d8da02-1c9e-4b80-959a-118653cb282f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "6KwGNETxowVbvmtB",
          "name": "Google Gemini(PaLM) Api account 653"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79cbe5de-dad8-4fd8-91e2-b57f051573a6",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "879c50e5-3499-4ab7-a006-a4fffd3c91e2",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "0c8ce7cb-7abc-4a84-963d-488723aa169b",
              "name": "phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "d93258f0-2cf4-4f8b-88c1-feb27ccf0c09",
              "name": "query",
              "value": "={{ $json.body.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        160
      ],
      "id": "09790d03-6e88-4dd0-8185-4b101dcedace",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a21482c0-07b3-43ae-b5e9-1398a045b17c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5f00bba974abf03cb5183d4d65f8a9645a781b04770df6a7d08284fca87d50b3"
  },
  "id": "80pcuRguaBgrxeXTLbq3i",
  "tags": []
}